.content{
    flex-direction: column;
}

.description{
    text-align: center;
}

#initial{
    & .container{
        background-color: var(--dark-ocean);

        & .content{

            & .me{
                width: 100%;
                height: auto;

                & img{
                    width: 300px;
                    border-radius: 100%;
                    box-shadow: 1rem 1rem 1rem var(--moon-night);
                }
            }
        }
    }
}

/* habilits section */
#skills{

    & .container{ 
        background-color: var(--deep-blue);
        color: white;

        & .content{
            & .title{
                flex: 1;
            }

            & .description{
                flex: 1;
            }

            & .skills{
                position: relative;
                flex: 8;
                width: 100%;
                height: 100%;
                flex-direction: column;

                & .technology{
                    position: absolute;
                    top: 0;
                    flex: 2;

                    & img{
                        width: 50px;
                        margin: 10px;
                        cursor: pointer;
                        transition: transform 0.2s;
                    }

                    & img:hover{
                        transform: scale(1.2);
                    }
                }

                & .skill-description{
                    height: auto;
                    max-height: 300px;
                    width: 80%;
                    margin: 60px;
                    padding: 30px;
                    text-align: center;
                    color: black;
                    background-color: var(--soft-gray);
                    display: none;
                }
            }
            
        }    
    }
}

/* academic background section */
#courses{
    & .container{
        width: 100%;
        height: auto;
        min-height: 100dvh;

        background: linear-gradient(150deg, var(--dark-ocean), var(--deep-blue));
        padding: 3rem;
        color: #fff;

        & h2 {
            text-align: center;
            font-size: 2.5rem;
            margin-bottom: 2rem;
            font-weight: bold;
            text-transform: uppercase;
            text-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        }

        & .cursos-container {
            display: flex;
            flex-wrap: wrap;
            gap: 2rem;

            & .curso {
            flex: 1 1 calc(50% - 2rem);
            background-color: var(--soft-gray);
            color: #333;
            padding: 2rem;
            border-radius: 8px;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
            transition: transform 0.3s, box-shadow 0.3s;

            &:hover {
                transform: translateY(-10px);
                box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
            }

            & h3 {
                font-size: 1.8rem;
                color: var(--moon-night);
                display: flex;
                align-items: center;
                gap: 0.5rem;
                margin-bottom: 1.5rem;
                font-weight: bold;

                & i {
                color: #00d2ff;
                font-size: 2rem;
                }
            }

            & ul {
                list-style: none;
                padding: 0;

                & li {
                margin-bottom: 1rem;
                font-size: 1.1rem;
                line-height: 1.5;

                & strong {
                    display: block;
                    font-size: 1.2rem;
                    font-weight: bold;
                    color: #222;
                }

                & span {
                    display: block;
                    font-size: 0.95rem;
                    color: #666;
                }
                }
            }
            }
        }
    }
}

/* off screen section */
#moments{
    & .container{
        background-color: var(--deep-blue);

        & .content{
            & .title{
                flex: 1;
            }

            & .description{
                flex: 1;
            }

            & .my-carousel{
                width: 100%;
                height: 100%;

                & .carousel{
                    width: 80%;
                    height: 60dvh;
                    position: relative;
                    box-sizing: border-box;

                    & .carousel-indicators{
                        width: 60%;
                        height: 40px;
                        position: absolute;
                        bottom: 10px;
                        gap: 10px;

                        & .indicator{
                            width: 35px;
                            height: 5px;
                            background-color: white;
                            opacity: 0.2;
                            border-radius: 2px;
                            cursor: pointer;
                            transition: ease-in-out 0.5s;
                        }

                        & .indicator.active{
                            opacity: 0.8;
                        }
                    }

                    & .carousel-inner{
                        width: 100%;
                        height: 100%;
                        transition: transform 0.5s ease-in-out;

                        & .image{
                            width: 100%;
                            height: 100%;
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: cover;
                            background-origin: border-box;
                            background-attachment: initial;
                            display: none;

                            & .text{
                                margin: auto;
                                width: 70%;
                                height: 80%;
                                position: relative;
                                color: white;

                                & h2{
                                    
                                    position: absolute;
                                    bottom: 0;
                                }
                            }
                        }

                        & .image.active{
                            display: block;
                        }

                        & #img-1{
                            background-image: url(../assets/image/photos/nature-trail.jpg);
                            
                            & .text{
                                & h2{
                                    left: 0;
                                }
                            }
                        }

                        & #img-2{
                            background-image: url(../assets/image/photos/family.jpg);
                        }

                        & #img-3{
                            background-image: url(../assets/image/photos/friends.jpg);

                            & .text{
                                & h2{
                                    right: 0;;
                                }
                            }
                        }
                    }

                    & .buttons{
                        width: 15%;
                        height: 100%;
                        position: absolute;
                        background: none;
                        border: none;
                        cursor: pointer;
                        opacity: 0.5;
                        transition: ease-in-out 0.5s;
                    }

                    & .buttons:hover{
                        opacity: 1;
                    }

                    & .arrow-back{
                        left: 0;
                    }

                    & .arrow-forward{
                        right: 0;
                    }
                }
            }
        }
    }
}



@media (max-width: 1260px){

    .content{
        margin: auto;
    }

    .formation{
        flex-direction: column;
    }

    #moments{
        & .container{
            & .content{
                & .my-carousel{
                    & .carousel{
                        width: 100%;
                        height: 40dvh;
                    }
                }
            }
        }
    }
}

@media (max-width: 800px){

    .me img{
        width: 200px;
    }

    #skills{
        & .container{
            & .content{

                & .skills{
                    & .technology{
                        width: auto;

                        & img{
                            width: 30px;
                        }
                    }
        
                    & .skill-description{
                        width: 100%;
                    }
                }
            }
        }
    }

    #academic-background .container{
        background: linear-gradient(to top, blue 50%, white 50%);
    }
}

@media (max-width: 500px){

    .card{
        width: 100%;
    }

    #skills{
        & .container{
            & .content{
                width: 95%;
            }
        }
    }
}


