.content{
    height: 90dvh;
    gap: 40px;
    flex-direction: column;
}

.description{
    text-align: center;
}

#initial{
    & .container{

        & .content{

            & .me{
                width: 100%;
                height: auto;

                & img{
                    width: 300px;
                    border-radius: 100%;
                    box-shadow: 1rem 1rem 1rem black;
                }
            }
        }
    }
}

.card{
    width: 350px;
    margin: 10px auto;
    padding: 15px;
    background-color: lightblue;
    border: 2px solid white;
    border-radius: 15px;
    flex-direction: column;
    cursor: pointer;
    transition: background 0.3s ease;

    & .card-content{
        display: none;
        text-align: center;
        font-size: 1em;
        color: black;
        margin-top: 10px;
        transition: max-height 0.3s ease;
    }
}

/* habilits section */
#skills{

    & .container{ 
        background-color: blue;
        color: white;

        & .content{
            & .skills{
                width: 100%;
                gap: 10px;
                justify-content: space-around;
                align-items: start;

                & .skill-card{
                    text-align: center;
                }
            }
        }
    }
}

/* academic background section */
#academic-background{
    & .container{
        background: linear-gradient(to right, white 50%, blue 50%);

        & .content{
            & .formation{
                width: 100%;
            
                justify-content:space-between;
                align-items: start;
            }
        }
    }
}

/* off screen section */
#moments{
    & .container{
        & .content{
            & .images{
                width: 100%;
                height: auto;
                justify-content: space-around;
                align-items: start;

                & .image{
                    & img{
                        width: 100%;
                        border-radius: 5px;
                    }
                }
            }
        }
    }
}


@media (max-width: 1260px){

    .container{
        min-height: 100dvh;
        height: auto;
        padding: 60px o;
    }

    .content{
        height: auto;
    }

    .skills{
        flex-direction: column;
    }

    .formation{
        flex-direction: column;
    }

    .images{
        flex-direction: column;
    }

    .image{
        width: 300px;
    }
}

@media (max-width: 800px){

    .me img{
        width: 200px;
    }

    #academic-background .container{
        background: linear-gradient(to top, blue 50%, white 50%);
    }

}

@media (max-width: 500px){

    .card{
        width: 100%;
    }
}